{% load static %}
<div class="row container-fluid bg-light">

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row">
          </div>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>

        <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
       </div>


      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>


</div>
