{% extends "Layouts/base.html"%}

{% block content %}
{% load static %}

                  <div class="carousel-inner">

                        <div class="carousel-item active">
                              <img class="d-block w-100" src="{% static 'images/24.jpg' %}"  height="500" width=100% alt="First slide">

                               <div class="carousel-caption d-none d-md-block">

                                    <h1 class="lead" style="font-size : 50px">E_Commerce DiarraShop </h1>
                                    <a class="btn btn-action btn-lg" role="button" href = "{% url 'Signup'  %}">Creer Un Compte</a>

                              </div>
                      </div>

                  </div>


            {% include "Layouts/homebody.html" %}


{% endblock%}
